<%- include('partials/header.ejs') %>
<div class="flex flex-col justify-center items-center min-h-screen">
  <h1 class="text-2xl font-bold mb-4">Update your post</h1>

  <form
    action="/update"
    method="POST"
    class="flex flex-col gap-4 w-full max-w-md"
  >
  <input type="hidden" name="index" value="<%= index %>"/>
    <input
      type="text"
      name="title"
      placeholder="Enter your title"
      value="<%= title %>"
      class="border border-gray-300 p-2 rounded"
      required
    />
    <textarea
      name="content"
      placeholder="Enter your content"
      class="border border-gray-300 p-2 rounded h-32 resize-none"
      required
    ><%= content %></textarea>
    <button
      type="submit"
      class="bg-blue-500 hover:bg-blue-600 text-white py-2 px-4 rounded"
    >
      Update Post
    </button>
  </form>
</div>
